@font-face {
  font-family: Insaniburger;
  src: url(../fonts/Insanibc.ttf);
}
@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap");
:root {
  --white-color: #fff;
  --black-color: #000;
  --orange-color: rgba(255, 132, 0, 1);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}
html {
  scroll-behavior: smooth;
}
body {
  background: #1a1a1a;
  color: #f0f0f0;
  font-family: "DM Sans", sans-serif;
  max-width: 100%;
  margin: 0;
  min-height: 100%;
}
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem;
}
.logo img {
  width: 180px;
  height: 62px;
  max-width: 100%;
  object-fit: cover;
}
nav a {
  padding: 20px;
  color: var(--white-color);
}
.order {
  background: var(--orange-color);
  border-radius: 10px;
  color: var(--white-color);
  padding: 15px 20px;
}
.order:hover {
  background: rgba(246, 95, 95, 1);
}
.hamIcon {
  position: static;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5px;
}
.hamIcon span {
  width: 30px;
  height: 3px;
  background: var(--white-color);
  border-radius: 2px;
  transition: all 0.3s ease;
  cursor: pointer;
}
.hamburger.open span:nth-of-type(1) {
  transform: rotate(48deg);
}
.hamburger.open span:nth-of-type(2) {
  opacity: 0;
}
.hamburger.open span:nth-of-type(3) {
  transform: rotate(-48deg);
  margin-top: -16px;
}
/* MAIN */
.special-offer {
  text-align: center;
}
.special-offer h2 {
  font-size: 48px;
}
.special-offer p {
  font-size: 18px;
  padding: 1rem;
}
.special-offer h2 span {
  color: rgba(227, 24, 55, 1);
}
.card-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
  gap: 1rem;
  max-width: 100%;
  padding-top: 40px;
  padding-inline: 2rem;
}
.card {
  position: relative;
  max-width: 100%;
}
.half {
  max-width: 270px;
  position: absolute;
  top: 3px;
  left: 24px;
}
.card {
  max-width: 100%;
  border-radius: 10px;
  padding: 20px;
  margin: 0 auto;
}
.card-image img {
  max-width: 100%;
  width: 230px;
  height: 230px;
  background: var(--white-color);
  border-radius: 50%;
  object-fit: cover;
  position: relative;
  top: 4px;
  left: 24px;
  z-index: 9990;
}
.keg {
  object-fit: contain !important;
}
.badge {
  background: var(--orange-color);
  border: 2px solid #fff;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 35%;
  right: 10%;
  z-index: 9999;
}
.liters {
  width: 260px;
  max-width: 100%;
  min-height: 239px;
  border-radius: 20px;
  background: linear-gradient(
    to bottom,
    rgba(96, 96, 96, 0.1),
    rgb(179, 116, 116)
  );
  position: relative;
  bottom: 90px;
  left: 10px;
}
.liters p {
  color: rgba(246, 95, 95, 1);
  font-weight: 600;
  font-size: 24px;
  text-align: center;
  padding-top: 9rem;
}
.card button {
  width: 121px;
  height: 51px;
  border: none;
  cursor: pointer;
  border-radius: 10px;
  padding: 15px 20px;
  background: var(--orange-color);
  color: var(--white-color);
  position: absolute;
  left: 28%;
  top: 85%;
}
/* FOOTER */
footer {
  padding: 2rem;
}
.footer-container {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  padding: 2rem;
}
.footer-container {
  padding: 20px;
}
.footer-logo img {
  width: 180px;
  height: 66.06px;
}
.footer-logo p {
  width: 100%;
  max-width: 260px;
}
.link-list li {
  list-style-type: none;
  padding-top: 1.7rem;
}
.link-list,
.git {
  padding-top: 3rem;
}
.git p,
.input {
  padding-top: 2rem;
}
.link-list li a {
  color: var(--white-color);
  font-size: 16px;
}
.quick,
.git h3 {
  color: rgba(246, 95, 95, 1);
  font-weight: 600;
  font-size: 24px;
  white-space: nowrap;
}
.input {
  display: flex;
  gap: 10px;
  max-width: 100%;
}
.input input {
  background: rgba(255, 255, 255, 1);
  color: var(--black-color);
  border: none;
  outline: none;
  max-width: 217px;
  height: 53.27px;
  border-radius: 15px;
  opacity: 10%;
  padding: 10px;
  font-size: 18px;
}
.contact-us {
  background: var(--orange-color);
  border-radius: 10px;
  padding: 15px 20px;
  width: 125px;
  max-width: 100%;
  height: 51px;
  text-align: center;
  white-space: nowrap;
}
.contact-us a {
  color: var(--white-color);
}
.copyright {
  text-align: center;
  padding-top: 3rem;
  padding-bottom: 1rem;
}
@media (max-width: 770px) {
  .footer-container {
    flex-direction: column;
    padding-block: 4rem;
  }
  .link-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .about span {
    font-size: 20px;
  }
  footer {
    padding: 0px;
  }
  .input input {
    width: 186px;
  }
  .git {
    margin: 0 auto;
  }
}
@media (max-width: 768px) {
  .navbar {
    padding: 1rem;
  }
  header {
    width: 100%;
  }
  article img,
  .order {
    display: none;
  }
  .menuLinks li a {
    padding: 15px 20px;
  }
  .menuLinks {
    position: absolute;
    top: 15%;
    right: 0;
    background: var(--black-color);
    height: 304px;
    flex-direction: column;
    display: none;
    padding: 20px 0;
    margin: 5px;
    list-style-type: none;
    border-radius: 0px 0px 10px 10px;
  }
  .menuLinks li {
    padding: 20px;
    text-align: center;
  }
  .menuLinks.show {
    display: block;
  }
}
@media (max-width: 480px) {
  main {
    margin-top: 1rem;
    padding: 0;
  }
  header {
    padding: 10px;
  }
  .a-link {
    padding-block: 2rem;
  }
}
@media (max-width: 352px) {
  .input {
    display: block;
  }
  div.contact-us {
    margin-top: 8px;
  }
}
@media (min-width: 769px) {
  .hamIcon {
    display: none;
  }
  .order {
    display: flex;
  }
  .menuLinks {
    display: flex;
    align-items: center;
  }
  .menuLinks li {
    list-style-type: none;
  }
}
