@font-face {
  font-family: Insaniburger;
  src: url(../fonts/Insanibc.ttf);
}
@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap");
:root {
  --white-color: #fff;
  --black-color: #000;
  --orange-color: rgba(255, 132, 0, 1);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: "DM Sans", sans-serif;
  background: rgba(13, 13, 13, 1);
  color: var(--white-color);
  line-height: 25px;
}
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem;
}
.logo img {
  width: 180px;
  height: 62px;
  max-width: 100%;
  object-fit: cover;
}
nav a {
  padding: 20px;
  color: var(--white-color);
}
.order {
  background: var(--orange-color);
  border-radius: 10px;
  color: var(--white-color);
  padding: 15px 20px;
}
.order:hover {
  background: rgba(246, 95, 95, 1);
}
.hamIcon {
  position: static;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5px;
}
.hamIcon span {
  width: 30px;
  height: 3px;
  background: var(--white-color);
  border-radius: 2px;
  transition: all 0.3s ease;
  cursor: pointer;
}
/* MAIN */
main {
  padding: 3rem;
}
.contact-hero {
  text-align: center;
  margin: 0 auto;
}
.info h1 {
  color: var(--orange-color);
  font-family: "Insaniburger", sans-serif;
  font-family: 52px;
  letter-spacing: 5px;
}
.info p {
  width: 88%;
  margin: 0 auto;
}
.contact-info {
  max-width: 100%;
  display: flex;
  justify-content: space-around;
  gap: 10px;
  align-items: center;
  padding-block: 5rem;
}
.side-one {
  width: 100%;
}
.rido-pic img {
  max-width: 337px;
  height: 100%;
  object-fit: cover;
}
.email-tel-map-parent {
  width: 100%;
}
.email-tel-map img {
  width: 20.89px;
  height: 20.93px;
  max-width: 100%;
}
.email-tel-map p {
  padding: 10px;
  color: rgba(255, 132, 0, 1);
  font-size: 14px;
  padding-left: 1.5rem;
}
.addy,
.email-tel-map p {
  width: 404px;
}
.reach {
  display: flex;
  align-items: center;
  gap: 8px;
}
.form-container {
  max-width: 100%;
}
form p {
  width: 580px;
  max-width: 100%;
  padding-block: 1rem;
}
.get-in-touch {
  color: rgba(227, 24, 55, 1);
  font-family: "Insaniburger", sans-serif;
  letter-spacing: 3px;
  font-weight: 400;
}
.input-parent {
  display: flex;
  align-items: center;
  gap: 10px;
  max-width: 100%;
}
.input-group {
  width: 290px;
}
.input-group input {
  width: 100%;
  padding: 15px 20px;
  height: 56px;
  border-radius: 10px;
  border: none;
  outline: none;
}
.textarea-group textarea {
  max-width: 590px;
  width: 100%;
  height: 100px;
  border-radius: 10px;
  border: none;
  outline: none;
}
.textarea-group textarea,
.input-group input {
  padding: 1rem;
  border: 2px solid #666;
}
.send-btn {
  display: flex;
  justify-content: right;
}
.send {
  width: 180px;
  height: 51px;
  padding: 15px 20px;
  border-radius: 10px;
  border: none;
  outline: none;
  background: var(--orange-color);
  color: var(--white-color);
  cursor: pointer;
}
.send:hover {
  background: rgba(246, 95, 95, 1);
}
/* FOOTER */
footer {
  padding: 2rem;
}
.footer-container {
  display: flex;
  justify-content: space-between;
}
.footer-container {
  padding: 20px;
}
.footer-logo img {
  width: 180px;
  height: 66.06px;
}
.footer-logo p {
  max-width: 100%;
  width: 260px;
}
.link-list li {
  list-style-type: none;
  padding-top: 1.7rem;
}
.link-list,
.git {
  padding-top: 3rem;
}
.git p,
.input {
  padding-top: 2rem;
}
.link-list li a {
  color: var(--white-color);
  font-size: 16px;
}
.quick,
.git h3 {
  color: rgba(246, 95, 95, 1);
  font-weight: 600;
  font-size: 24px;
}
.input {
  display: flex;
  gap: 10px;
}
.input input {
  background: rgba(255, 255, 255, 1);
  color: var(--black-color);
  border: none;
  outline: none;
  width: 217px;
  height: 53.27px;
  border-radius: 15px;
  opacity: 10%;
  padding: 10px;
  font-size: 18px;
}
.contact-us {
  background: var(--orange-color);
  border-radius: 10px;
  padding: 15px 20px;
  width: 125px;
  max-width: 100%;
  height: 51px;
  text-align: center;
  white-space: nowrap;
}
.contact-us a {
  color: var(--white-color);
}
.copyright {
  text-align: center;
  padding-top: 3rem;
  padding-bottom: 1rem;
}
/*  MEDIA QUERY  */
@media (max-width: 768px) {
  nav,
  article img {
    display: none;
  }
  .menuLinks li a {
    padding: 15px 20px;
  }
  .menuLinks {
    position: absolute;
    top: 15%;
    right: 0;
    background: var(--black-color);
    height: 304px;
    flex-direction: column;
    display: none;
    padding: 20px 0;
    margin: 5px;
    list-style-type: none;
    border-radius: 0px 0px 10px 10px;
  }
  .menuLinks li {
    padding: 20px;
    text-align: center;
  }
  .menuLinks.show {
    display: block;
  }
  article {
    display: block;
    padding: 0px;
  }
  .about span {
    font-size: 28px;
    line-height: 20px;
  }
  .contact-info {
    flex-direction: column;
  }
  .send-btn {
    display: grid;
    place-content: center;
  }
}
@media (max-width: 480px) {
  main {
    margin-top: 1rem;
    padding: 0;
  }
  header {
    padding: 10px;
  }
  .about {
    padding: 20px;
  }
  .info h1 {
    font-size: 24px;
    padding-block: 1rem;
  }
  .info p {
    font-size: 14px;
  }
  .side-one {
    order: 4;
  }
  .rido-pic img {
    max-width: 100%;
  }
  .email-tel-map {
    margin: 0 auto;
  }
  .email-tel-map p {
    font-size: 12px;
    width: 100%;
  }
  .email-tel-map-parent,
  .reach {
    text-align: center;
    justify-content: center;
  }
  .reach {
    padding: 1rem;
  }
  .form-container {
    text-align: center;
    padding: 1rem;
  }
  .footer-container {
    flex-direction: column;
    padding-block: 4rem;
  }
  .link-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .about span {
    font-size: 20px;
  }
  footer {
    padding: 0px;
  }
  .input input {
    width: 186px;
  }
}
@media (max-width: 352px) {
  .input {
    display: block;
  }
  div.contact-us {
    margin-top: 8px;
  }
}
@media (min-width: 769px) {
  .hamIcon {
    display: none;
  }
  .order {
    display: flex;
  }
  .menuLinks {
    display: flex;
    align-items: center;
  }
  .menuLinks li {
    list-style-type: none;
  }
}
