* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
@media (min-width: 769px) {
  .navbar {
    padding: 1rem;
  }
  .hamIcon {
    display: none;
  }
  .order {
    display: flex;
  }
  .menuLinks {
    display: flex;
    align-items: center;
  }
  .menuLinks li {
    list-style-type: none;
  }
}
